.bg-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url("/static/img/background.jpg") no-repeat fixed;
    background-size: 100% auto;
}

.navbar a.nav-link {
    color: #000000 !important;
}

.bg-dark {
    background-color: #8d8b8b37 !important;
}

.ms-footer {
    background-color: #202020;
}

.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}

.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}

.ms-footer-bottom span {
    font-size: 13px;
    line-height: 38px;
}

.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
}

.ms-footer-bottom a:hover {
    color: #fff;
}

.img-card-200 {
    width: fit-content;
    max-height: 200px;
}

.img-card-400 {
    width: fit-content;
    max-height: 400px;
}

body {
    font-family: Arial;
    padding: 20px;
}

h2 {
    background: #222;
    color: #fff;
    padding: 10px;
}

.box {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

.item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}